.resume .btn {
   border-color: var(--primary-color);
   background: var(--primary-color);
}

.resume .btn:hover,
.resume .btn a:hover {
   color: #333;
   background-color: rgb(223, 237, 196);
   transition: all ease-in-out 0.4s;
   border-color: #3f3f3f;
}

.resume .btn a {
   color: #333;
}
