@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
   --primary-color: rgb(211, 242, 150);
   --secondary-color: #ffffff;
   --overlay-color: rgba(211, 242, 150, 0.8);
}

* {
   padding: 0;
   margin: 0;
}

p {
   margin: 0.75rem;
}

a {
   color: #a5a4a4;
   text-decoration: none;
}

.psec {
   color: antiquewhite;
   margin: 2px;
   padding: 5px;
}

body {
   font-family: "Josefin Sans", sans-serif;
}

.image-info {
   background: url("../img/widescreen\(lbackground\).svg") no-repeat center
      center/cover;
   background-size: auto 1024px;
   height: 800px;
   width: 100%;
}
#navbar {
   display: flex;
   justify-content: space-around;
}

#logo img {
   margin: 20px 0 10px 20px;
   height: 70px;
}

.hamburger {
   display: none;
}
.mobile-nav {
   display: none;
}
#navbar ul li a {
   padding: 13px;
   border-radius: 50%;
   margin-left: 40px;
   font-weight: bold;
   font-size: 21px;
}

#navbar ul li a:hover {
   color: var(--primary-color);
   transition: all ease-in-out 0.5s;
}

#navbar ul {
   display: flex;
   justify-content: space-around;
   margin-top: 60px;
}

.resume {
   margin-top: 45px;
}

.resume .btn {
   padding: 15px 25px;
   border-radius: 10%;
   margin-left: 20px;
   font-size: 18px;
   border-color: var(--primary-color);
   background: var(--primary-color);
   font-weight: bold;
}

.resume .btn:hover,
.resume .btn a:hover {
   cursor: pointer;
   color: #333;
   background-color: rgb(224, 233, 204);
   border-color: #3f3f3f;
}

.resume .btn a {
   color: #333;
}

li {
   list-style: none;
}

/* For frontpage letter (Frontend developer) */

.frontend {
   margin: 8rem 0 0.5rem -1rem;
   color: var(--primary-color);
   font-size: 5rem;
}
.frontend-1 {
   text-align: center;
   padding-top: 5rem;
   color: var(--primary-color);
   font-size: 3.5rem;
}

/* paragraph of frontend page */

.front {
   margin-left: -1.01rem;
   color: var(--secondary-color);
   font-size: 20px;
}

/* Additional words after paragraph of frontend */

/* Blob photo  */
.Middle {
   display: flex;
   margin-top: 2rem;
   justify-content: space-around;
}

.Middle .photo-info .photo {
   background: url("../img/nikesh_icon.svg") no-repeat center center/cover;
   height: 220px;
   width: 200px;
   margin: 2.5rem;
   /* margin-left: 14rem; */
}
.photo-info {
   margin: 2rem 0;
   background-color: var(--overlay-color);
   border-radius: 50%;
}

/* About image section */

.about-img {
   background: url("../img/about-section.svg") no-repeat center center/cover;
   background-size: auto 1024px;
   height: 990px;
   width: 100%;
}

.about-img h1 {
   text-align: center;
}

.p-about {
   text-align: center;
   margin: 2rem 7rem;
   padding: 15px;
   font-size: 20px;
   font-weight: 500;
   border: #fff solid 3px;
   border-radius: 0 8% 0 0;
   color: var(--secondary-color);
   box-shadow: 9px 4px 23px #000;
}

.experience {
   display: flex;
   justify-content: right;
   align-items: center;
   margin: auto 50px auto 150px;
}

.box-1 {
   margin: 20px;
   padding: 20px;
   text-align: justify;
   background: #cbdbaa;
   box-shadow: 9px 4px 23px;
}
.box-2 {
   margin: 20px;
   padding: 20px;
   text-align: justify;
   color: var(--secondary-color);
   background: #32248f;
   box-shadow: 9px 4px 23px #000;
}

/* footer */

.contact-img {
   background: url("../img/contact-secton.svg") no-repeat center center/cover;
   background-size: auto 1196px;
   height: 500px;
}

.icon {
   font-size: 30px;
   color: #000;
   margin: 1rem;
}

.icon:hover {
   color: #311ea6;
}

.font-contact {
   padding-top: 2rem;
   font-size: 50px;
   text-align: center;
   color: var(--primary-color);
}

.contact-ul {
   background: #cbdbaa;
   padding-left: 2rem;
   padding: 10px auto;
   border-radius: 4% 25% 4% 4%;
   margin: 2rem auto;
   text-align: justify;
   max-width: 30rem;
   box-shadow: 9px 4px 23px #000;
}

.gap-between {
   margin-left: 1rem;
   padding-bottom: 2rem;
}

.contact-color {
   font-weight: 500;
   color: #000;
   font-size: large;
}

.contact-color:hover {
   color: #4831d4;
   font-weight: 600;
}
