@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
   --primary-color: rgb(211, 242, 150);
   --secondary-color: #f0f8ff;
   --overlay-color: rgba(18, 21, 23, 0.55);
}

* {
   padding: 0;
   margin: 0;
}
a {
   color: #a5a4a4;
   text-decoration: none;
}

.psec {
   color: antiquewhite;
   margin: 2px;
   padding: 5px;
}

body {
   font-family: "Josefin Sans", sans-serif;
}
.image-info {
   background: url("../img/nikesh_no_blob.svg") no-repeat center center/cover;
   height: 120vh;
   width: 100%;
}
#navbar {
   display: flex;
   justify-content: space-around;
}

#logo img {
   margin: 20px 0 10px 20px;
   height: 70px;
}

#navbar ul li a {
   padding: 13px;
   border-radius: 50%;
   margin-left: 40px;
   font-weight: bold;
   font-size: 21px;
}

#navbar ul li a:hover {
   color: var(--primary-color);
   transition: all ease-in-out 0.5s;
}

#navbar ul {
   display: flex;
   justify-content: space-around;
   margin-top: 60px;
}

.resume {
   margin-top: 45px;
}

.resume .btn {
   padding: 15px 25px;
   border-radius: 10%;
   margin-left: 20px;
   font-size: 18px;
   border-color: #4831d4;
   font-weight: bold;
   background: #4634ba;
}

.resume .btn:hover,
.resume .btn a:hover {
   cursor: pointer;
   color: #f2f2f2;
   background-color: #3f3f3f;
   transition: all ease-in-out 0.7s;
   border-color: #3f3f3f;
}

.resume .btn a {
   color: #f2f2f2;
}

li {
   list-style: none;
}

/* For frontpage letter (Frontend developer) */

.frontend {
   margin: 8rem 0 0.5rem -7rem;
   color: var(--primary-color);
   font-size: 5rem;
}

/* paragraph of frontend page */

.front {
   margin-left: -6rem;
   color: var(--secondary-color);
   font-size: 20px;
}

/* Additional words after paragraph of frontend */

.additional {
   display: flex;
   max-width: 100%;
}

/* Col1 and col2 are columns after paragraph of frontend */

.col1,
.col2 {
   margin: 5rem;
   justify-content: space-around;
   font-size: 18px;
}

/* Blob photo  */
.Middle {
   display: flex;
   justify-content: space-around;
}

.Middle .photo-info {
   background: url("../img/nikesh_icon.svg") no-repeat center center/cover;
   height: 300px;
   width: 250px;
   margin-top: 3rem;
   margin-left: 14rem;
}
